
lsjoin-plugin/.classpath
lsjoin-plugin/.project
lsjoin-plugin/bin/me/luuc4s/br/Main.class
lsjoin-plugin/bin/me/luuc4s/br/JoinQuit.class
lsjoin-plugin/bin/me/luuc4s/br/ActionBar.class
lsjoin-plugin/.settings/org.eclipse.jdt.core.prefs
